// БЛОК С ФИЛЬТРАМИ

.filter_box {
    position: relative;
    margin-bottom: 16px;
    margin-top: 51px;
}

.filter {
    display: none;
}

.filter_check {
    font: 600 14px/17px Lato;
    color: #000000;
    padding: 5px 0px;
    margin-left: 17px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    text-transform: uppercase;
}

.fa-filter {
    font: 600 14px/17px;
    padding-left: 11px;
}

.filter:checked  + .filter_check {
    color: $pink_text;
}

.filter:checked  + .filter_check + .filter_box_mini {
    display: block;
}

.filter_box_mini {
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 0px;
    padding: 46px 17px 17px 17px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 360px;
    display: none;
}

.filter_box_supermini {
    margin-bottom: 17px;
    width: 100%;
}

.end_element {
    margin-bottom: 0px;
}

.filter_heading {
    color: #6F6E6E;
    font: 400 14px/17px Lato;
    text-transform: uppercase;
    display: flex;
    height: 37px;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid $pink_text;
    padding-left: 11px;
    cursor: pointer;
}

.filter_link {
    text-decoration: none;
    text-transform: capitalize;
    font: 400 14px/17px Lato;
    color: #6F6E6E;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: none;
    padding: 6px 0 6px 17px;
    width: 100%;
}

.filter:checked + .filter_heading {
    color: $pink_text;
}

.filter:checked ~ .filter_link {
    display: block;
}

.filter_link:hover {
    color: #FFFFFF;
    background: $pink_text;
    transition: .55s ease;
    border-radius: 20px;
}

.filter_block {
    display: flex;
    justify-content: center;
}


//СТИЛИЗАЦИЯ ЧЕКБОКСОВ

.variant_check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.variant_check + .item_check {
    display: block;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding: 5px 0px;
    font: 400 14px/16px Lato;
    color: #6F6E6E;
}


.variant_check + .item_check::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #EBEBEB;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.variant_check:checked + .item_check::before {
    border-color: $pink_text;
    background-color: $pink_text;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.variant_check:not(:disabled):not(:checked) + .item_check:hover::before {
    border-color: $pink_text;
}
  
/* стили для активного состояния чекбокса (при нажатии на него) */
.variant_check:not(:disabled):active + .item_check::before {
    background-color: $pink_text;
    border-color: $pink_text;
}

// /* стили для чекбокса, находящегося в фокусе */
// .variant_check:focus + .item_check::before {
//     box-shadow: 0 0 0 0.2rem $pink_text;
// }

// /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
// .variant_check:focus:not(:checked) + .item_check::before {
//     border-color: #F7E4E2;
// }

// /* стили для чекбокса, находящегося в состоянии disabled */
// .variant_check:disabled + .item_check::before {
//     background-color: #EBEBEB;
// }


.pagination {
    width: 283px;
    height: 43px;
    margin-top: 18.5px;
    border: 1px solid #EBEBEB;
    text-align: center;
    display: flex;
    justify-content: center;
}